@font-face{
	src : url('../font-poppins/Poppins-Black.ttf');
	font-family: Poppins Black;
}
@font-face{
	src : url('../font-poppins/Poppins-Light.ttf');
	font-family: Poppins Light;
}
@font-face{
	src : url('../font-poppins/Poppins-Medium.ttf');
	font-family: Poppins Medium;
}
@font-face{
	src : url('../font-poppins/Poppins-Regular.ttf');
	font-family: Poppins Regular;
}
*{
	font-family: Poppins Light;
}
h1{
	font-family: Poppins Medium;
}
.jumbotron h3{
	font-family: Poppins Medium;
}
.title{
	color: rgb(120,120,220);
	font-weight: 300;
}
.title::after{
	content: "";
	display: block;
	width: 200px;
	border-top: 2px solid rgb(120,120,220);
	margin: 10px auto 54px;
}
.navbar{
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	z-index: 10;
	transition: .2s;
}
.navbar.fixed{
	position: fixed;
	top: 0;
	background-color: rgb(100,100,220) !important;
}
.navbar .nav-item{
	float: right;
}

.jumbotron{
	background-image: url('../img/jumbotron/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;
	margin-bottom: 0;
	position: relative;
}
.jumbotron .gradient{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(rgba(10,30,100,.1),rgba(10,30,100,.5),rgba(10,30,100,.7));
	z-index: 1;
}
.jumbotron .content{
	position: relative;
	z-index: 2;
}
.jumbotron .img{
	display: inline-block;
	overflow: hidden;
	margin-top: 70px;
	height: 250px;
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,.5);
}
.jumbotron .img,.jumbotron .img img{
	width: 250px;
}
.jumbotron{
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.about{
	min-height: 500px;
	overflow: hidden;
}
.about-content{
	opacity: 0;
	transition:.5s;
	transform: translate(0,200px);
}
.about-content.show{
	opacity: 1;
	transform: translate(0,0);
}
.about p{
	text-indent: 20px;
}

.pattern-circle{
	position: absolute;
	display: inline-block;
	border: 10px solid black;
	opacity: .1;
	border-radius: 50%;
}
.pattern-circle.p-1{
	width: 300px;
	height: 300px;
	bottom: -50px;
	left: -50px;
}
.pattern-circle.p-2{
	width: 190px;
	height: 190px;
	bottom: -90px;
	left: 35%;
}
.pattern-circle.p-3{
	width: 210px;
	height: 210px;
	top: 50px;
	left: 25%;
}
.pattern-circle.p-4{
	width: 180px;
	height: 180px;
	top: 210px;
	right: 13%;
}
.pattern-circle.p-5{
	width: 220px;
	height: 220px;
	top: -50px;
	right: -50px;
}
#skill{
	background-image: linear-gradient(rgba(120,120,220,.7),rgba(120,120,220,.5),rgba(120,120,220,0));
}

#portfolio{
	background-image: linear-gradient(rgba(120,120,220,0),rgba(120,120,220,.5),rgba(120,120,220,.7),rgba(120,120,220,.5),rgba(120,120,220,0));
}
#portfolio.portfolio .title::after{
	border-color: rgb(150,150,220);
}
.portfolio .thumbnail img::after{
	content: "";
}
.portfolio .thumbnail.a{
	transform: translate(50px,200px);
}
.portfolio .thumbnail.b{
	transform: translate(0px,200px);
}
.portfolio .thumbnail.c{
	transform: translate(-50px,200px);
}
.portfolio .thumbnail.d{
	transform: translate(50px,100px);
}
.portfolio .thumbnail.e{
	transform: translate(0px,100px);
}
.portfolio .thumbnail.f{
	transform: translate(-50px,100px);
}
.portfolio .thumbnail.show{
	opacity: 1;
	transform: translate(0,0);
}
.portfolio .thumbnail img{
	width: 100%;
}
.portfolio .boxThumbnail{
	box-shadow: 0px 0px 10px 4px rgba(120,120,220,.5);
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 50px;
	opacity: 0;
	transition: .5s;
}
.portfolio .boxThumbnail.show{
	opacity: 1;
}
.portfolio .thumbnail{
	padding: 0;
	overflow: hidden;
	max-height: 220px;
	opacity: 0;
	transition: 1s;
	position: relative;
}
.portfolio .thumbnail img:hover{
	opacity: .5;
}

.detailFoto{
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
}
.detailFoto img{
	width: 100%;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);
	margin-bottom: 10px;
}
.modal-body .p{
	border-top: 1px solid #dbdbdb;
	padding-top: 20px;
}
.color{
	color: white;
	background-color: rgb(120,120,220);
}
.no-color{
	color: rgb(120,120,220);
}
.skill .box .circleBox{
	margin: 0 auto 20px;
	transform: rotate(270deg);
	transition: .5s;
	padding-top: 3px;

}
i{
	margin-top: 18px;
	font-size: 3.3rem;
}
.skill .box{
	position: relative;
	left: 200px;
	margin: 0 auto 20px;
	opacity: 0;
	transition: .5s;
}
.skill .box.show{
	left: 0;
	opacity: 1;
}
.skill .box.show .circleBox{
	transform: rotate(0deg);
}
.skill .box p{
	margin: auto;
	max-width: 300px;
}
.contact .box,.skill .box .circleBox{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid rgb(120,120,220);
}
.contact .box{
	opacity: 0;
	position: relative;
	top: 100px;
	margin: 20px auto;
	transition: .2s;
}
.contact .box.show{
	top: 0;
	opacity: 1;
}
.contact .box .circleBox{
	transition: .5s;
	overflow: hidden;
	left: -3px;
	top: -3px;
	height: 100px;
	width: 100px;
	display: inline-block;
	border-radius: 50%;
	z-index: 2;
	position: relative;
}

.contact .box .content{
	color: rgb(120,120,220);
	opacity: 0;
	z-index: 1;
	padding: 20px;
	border-right: 3px solid rgb(120,120,220);
	border-bottom: 3px solid rgb(120,120,220);
	border-top: 3px solid rgb(120,120,220);
	height: 100px;
	width: 50px;
	position: absolute;
	top: -3px;
	left: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: .5s;
}
.contact .box .content.show {
	opacity: 1;
	width: 300px;
}
.contact{
	min-height: 800px;
	overflow: hidden;
}

@media(max-width: 767px){
	.contact .box{
		margin-left: 50px;
		margin-right: 0px;
		background-color: rgb(120,120,220);
	}
	.contact .box i{
		color: white !important;
	}
	.contact .box .content {
		opacity: 1;
		width: 300px;
	}
}
@media(max-width: 480px){
	.navbar{
		top: 15px;
	}
	.contact .box{
		margin-left: 0;
	}
	.contact .box .content.show {
		opacity: 1;
	}
	.contact .box .content {
		opacity: 1;
		width: 300px;
		left: 40px;
		padding: 10px;
	}
}